<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex, noarchive">
<title>Untitled Document</title>
<style type="text/css">
#apDiv1 {
	position:absolute;
	left:183px;
	top:17px;
	width:827px;
	height:514px;
	z-index:1;
}
</style>
<link href="../css/easysnippet.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="apDiv1"> 
  <!-- START PAGE -->
  <div id="divRSTContainer" class="easysnippetUI">
    <div id="divRSTHdr">
      <p>#blogName# - Rich Snippet Site Report<br>
      </p>
    </div>
    <div id="divRSTOptions">
      <div id="divRSTInput">Delay between tests:
        <input type="text" class="RSTInput" id="inpRSTDelay" value="3">
        &nbsp;Order:
        <select id="inpRSTSequence">
          <option value="0">Oldest first</option>
          <option value="1">Newest first</option>
        </select>
      </div>
      <div id="divRSTButtons">
        <ul>
          <li class="btnStart">Start</li>
          <li class="btnStop">Stop</li>
          <li class="btnContinue">Continue</li>
          <li class="btnReRun">Re-run</li>
        </ul>
      </div>
      <div class="RSTClear"></div>
      <div id="divRSTHelp">Having problems with snippets? <a href="http://www.easyrecipeplugin.com/support/google-doesnt-show-rich-snippets-for-my-posts/" target="_blank">Click here</a> for some help</div>
    </div>
    <div id="divRSTTabs">
      <ul>
        <li><a href="#RSTTab_1">1</a></li>
      </ul>
      <div id="RSTTab_1" class="RSTPosts"></div>
    </div>
  </div>
  <div class="divRSTPostHTML">
    <div class="RSTPost">
      <div class="RSTStatusBox">
        <div class="RSTPostTitle"></div>
        <div class="RSTStatus">Waiting...</div>
      </div>
      <div class="RSTResult"> </div>
      <div class="RSTOverlay">
        <div class="RSTOverlayBox">
          <button class="RSTBtn RSTBtnEdit">Edit Post</button>
          <button class="RSTBtn RSTBtnShow">Show Page</button>
          <button class="RSTBtn RSTBtnGoogle">Google Test Page</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE --> 
</div>
</body>
</html>
